<tr>
 <td class = "envio">
 </span>  
 </td>
 	<% user = envio.user rescue User.find(envio.user_id) %> 
 	<% if current_user?(user) || current_user.admin? %> 
		<td><%= envio.status %> <%= envio.date %> <%= envio.reference %> <%= envio.comments %> </td> 
		<td><%= link_to "delete", envio, 	 :method=> :delete,  
											 :confirm => "You sure?"%>
		</td>
	<% end %> 
</tr>