<h1>Edit user</h1>
<%= form_for(@user) do |f| %>
	<%= render 'shared/error_messages', :object => f.object %>
	<% if current_user.admin? %> 
	<%= render 'shared/adminfields', :f => f %> 
	<% else %> 
	<%= render 'fields', :f => f %>
	<% end %>  
	<div class ="actions">
		<%= f.submit "Update"%>
	</div>
<% end %>
