<tr> 
	<td class ="gravatar">
		<%= link_to gravatar_for(feed_item.user), feed_item.user %>
	</td>
	<td class ="envio"> 
		<span class="user"> <%= link_to feed_item.user.name, feed_item.user %></span>
		<span class="content"> <%= feed_item.content %> </span> 
		<span class="timestamp">Posted <%= time_ago_in_words(feed_item.created_at)%> ago.</span>
	</td>
 <!-- DRY, Fix later. -->
	<% user = feed_item.user rescue User.find(feed_item.idUser) %> 
	<% if current_user?(user) || current_user.admin? %> 
		<td><%= link_to "delete", feed_item, :method=> :delete,  
											 :confirm => "You sure?",
											 :title => feed_item.content %>
		</td>
	<% end %> 
</tr>